 /*-----------------
 ---- Google Font---
 -----------------*/


 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

 body {
     font-family: 'Poppins', sans-serif;
     background-color: #1E1E1E;
 }

 /*---------------------
---Extra small device--
----------quary------*/

 @media only screen and (max-width:786px) {
     .carousel-item {
         height: 80vh;
     }

     .carousel-item img {
         height: 100%;
         object-fit: cover;
         object-position: center;
     }

 }